# Copy this file to .env and fill values

# Postgres
DATABASE_URL=
# Qdrant
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=

# YC source
YC_URL=https://www.ycombinator.com/companies

# Groq extraction
GROQ_API_KEY=
STRUCTURING_GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
# openai/gpt-oss-20b
# openai/gpt-oss-120b
SEARCHING_GROQ_MODEL=openai/gpt-oss-120b

# Sentence Transformer
EMBEDDING_MODEL=BAAI/bge-base-en-v1.5

# Clustering / admin
CLUSTER_MIN_SIZE=5